<a href="https://colab.research.google.com/github/NroyAnalyst/NRinternship-2k25-sharda-dec/blob/main/Mall_customers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import numpy as np

In [16]:
df=pd.read_csv('/content/Mall_Customers.csv')

In [17]:
print("Missing values per column:")
print(df.isnull().sum())

Missing values per column:
CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [18]:
df=df.dropna()
df=df.drop_duplicates()

In [19]:
print(df)

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [20]:
text_cols=['Gender']
for col in text_cols:
  if col in df.columns:
    df[col]=df[col].str.lower().str.strip()

In [23]:
df['Gender']=df['Gender'].replace({
    'm':'Male',
    'f':'Female'
})
print(df.head)

<bound method NDFrame.head of      CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    male   19                  15                      39
1             2    male   21                  15                      81
2             3  female   20                  16                       6
3             4  female   23                  16                      77
4             5  female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  female   35                 120                      79
196         197  female   45                 126                      28
197         198    male   32                 126                      74
198         199    male   32                 137                      18
199         200    male   30                 137                      83

[200 rows x 5 columns]>